<form>
	<legend>Export Options</legend>
	
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#" id="exportOptionGefx" >Gefx - Graph Exchange XML Format</a></li>
		<li role="presentation"><a href="#" id="exportOptionScheme" >Scheme Format</a></li>
		<li role="presentation"><a href="#" id="exportOptionText">Text File</a></li>
	</ul>

	<div style="width:40%; padding:20px;">
		<div class="form-group">
			<label for="inputEmail">Creator</label>
			<input id="exportGefxCreator" type="text" class="form-control" id="inputEmail" placeholder="Creator">
		</div>
		<div class="form-group">
			<label for="inputEmail">Description</label>
			<input id="exportGefxDescription" type="text" class="form-control" id="inputEmail" placeholder="Description">
		</div>
		<hr>
		<button class="btn btn-success" type="button" id="exportExportButton" >Export</button>
	</div>
	
</form>
