<div data-ng-controller="Shell as shVm">
    <div id="splash-page" data-ng-show="shVm.showSplash" class="dissolve-animation">
        <div class="page-splash">
            <div class="page-splash-message">
                OpenCog Workbench
            </div>
        </div>
    </div>

    <header class="clearfix">
        <div data-ng-include="'app/layout/topnav.html'"></div>
    </header>
    <section id="content" class="content">
        <div data-ng-include="'app/layout/sidebar.html'"></div>
 
            <section id="dashboard-view" class="mainbar">
                
            <tabs data="shVm.tabs" type="tabs" justified="false" template-url="app/layout/tabs/tabs.html"
                  auto-select-default-tab="false"></tabs>


<!--                 <tabset>
                   <tab heading="Static title">Static content</tab>
                    <tab ng-repeat="tab in shVm.tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                      {{tab.content}}
                    </tab>                   
                </tabset> -->
                <section class="matter">
                    <div class="container shuffle-animation" data-ui-view>
                    </div>
                </section>
            </section>            

        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img class="busy-overlay">

            <div class="page-spinner-message overlay-message">{{shVm.busyMessage}}</div>
        </div>
    </section>
</div>


