<!-- Static navbar -->
<nav class="navbar navbar-fixed-top navbar-inverse" data-ng-controller="Topnav as tnVm">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><span class="brand-title">{{shVm.title}}</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <!-- permanent menu : list of Modules-->
                <li dropdown>
                    <a dropdown-toggle role="button">Modules <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="nlightblue fade-selection-animation" data-ng-class="tnVm.isCurrent(r)"
                            data-ng-repeat="r in tnVm.mainNavStates">
                            <a data-ui-sref="{{r.name}}" data-ng-bind-html="r.data.content"></a>
                        </li>

                        <!-- this is here to test state change errors -->
                        <li class="nlightblue fade-selection-animation">
                            <a data-ui-sref="badstate">Bad State</a>
                        </li>                        
                    </ul>
                </li>

               <!-- generated menus : active module specific menus -->
               <li dropdown data-ng-repeat="menu in tnVm.menus">
                    <a dropdown-toggle role="button">{{menu.title}} <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="subm in menu.items">
                            <a href="{{subm.url}}" data-ng-bind-html="subm.content"></a>
                        </li>
                    </ul>
               </li>
            </ul>
        </div>
    </div>
</nav>