
.avenger-name {
    font-size: 1.2em;
}
.avenger-thumb {
    margin: 0.1em !important;
    padding: 0.1em;
}

.avenger-logo {
    height: 75px;
    width:80px;
    background: url(../images/avengersicon-xs.png) no-repeat left top !important;
}


