/* LAYOUT */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
#wrapper
{
   height:100%;  
} 

#leftMenu
{   
  background-color:#777;
  padding:0;
}
#rightMenu
{
  padding:0;
  background-color: #777;
}

#mainContent
{
    
  padding:0;
}

#atomDetails
{
  background-color: #ddd;
  border:2px solid #ddd;
}

/*THIS IS TO ADD SOMEWHERE :

.panel-group {
  margin-bottom: 0px;
}

.panel-body {
  padding: 0px;
  background-color: #efefef;
}

/* ACCORDION */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/

.panel-group {
  margin-bottom: 0px;
}
.panel-default {
  border: none;
}


a.accordion-toggle {
  color: #fff!important;
  font-size: 14px;
}

.panel-heading {
  background-color: #777!important;
  border: none;
  &:hover {
    background-color: #333!important;    
  }
}

.panel-title {
  line-height: 20px;
  padding: 0px!important;
}

accordion-heading  
{
    padding:10px; 
    border:1px solid #ddd;
    border-top:none;
}

accordion-heading:hover  
{
    background-color:#ccc;
}

accordion-heading a:link  
{
    text-decoration: none;
}

accordion-heading a:hover  
{
    text-decoration: none;
}

.accordion-inner  
{
    padding:10px;
    padding-right:20px; 
    background-color:#fff;
}

/* CONNECT PANEL */
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
/*-----------------*/
#ConnectConnectButton, #ConnectRefreshButton
{
  cursor: pointer;
}

#ConnectConnectButton:hover, #ConnectRefreshButton:hover
{
  background-color:#5cb85c;
  color:#fff;
}

#ConnectionStatus
{
   
}



 
