
/*
    additions made after reading 
    http://stackoverflow.com/questions/19890700/change-navbar-height-in-bootstrap3
*/

/* height for both navbars : main navbar and tab-navbar */
$navbar-height: 20px;

body {
  padding-top: $navbar-height;
}


.navbar {
  min-height: $navbar-height;
}

.navbar .nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;  
}
/* branding */
.navbar-brand {
  margin-left: -50px !important;
  min-height: $navbar-height;
  height: $navbar-height !important;
  padding-top: 0px;
  padding-bottom: 0px;

  & div {
    display: flex;

    & img {
      display: block;
      height: $navbar-height * 2;
      width: $navbar-height * 2;
      margin-left: -3px;
      content:url('../images/oclogo.png')
    }
    & span {
      padding-left: 33px;
      text-align: center;
      font-size: 19px;
      font-weight: 600;
      padding-right: 10px;
    }    
  }
}

/**************/
/*    tabs    */
/**************/
.navbar-tabs {
   padding-left: 250px;
}



.not-allowed {
  cursor: not-allowed;
}