/* height for both navbars : main navbar and tab-navbar */
$navbar-height: 24px;

.navbar {
  min-height: $navbar-height;
}

body {
  padding-top: $navbar-height * 2;
}

// added now
#mainnav {
  margin-bottom: 0px;
  border-bottom-width: 0px;
  z-index: 1000;
}

.navbar .nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: $navbar-height;
}
/* branding */
.navbar-brand {
  margin-left: -50px !important;
  min-height: $navbar-height;
  height: $navbar-height !important;
  padding-top: 0px;
  padding-bottom: 0px;

  & div {
    display: flex;

    & img {
      display: block;
      height: $navbar-height * 2;
      width: $navbar-height * 2;
      content:url('../images/oclogo.png')
    }
    & span {
      padding: 3px 10px 0px 33px;
      text-align: center;
      font-size: 19px;
      font-weight: 600;
    }    
  }
}

/**************/
/*    tabs    */
/**************/
#secondarynav {
  padding-left: 198px;
  line-height: $navbar-height;
  position: fixed;
  width: 100%;
  top: $navbar-height;
  z-index: 999;
  margin-bottom: 0px;
  border-bottom-width: 0px;
}

.nav-pills > li > a {
  height: $navbar-height - 4px;
  margin-top: 4px;
}

.not-allowed {
  cursor: not-allowed;
}

.nav > li > a {
  &:hover, &:focus {
    background-color: #8C97A0;  
  }
}