/* Navbar */

.navbar {
  background: #000;
  .container {
    width: 97% !important;
  }
  .nav > li > a {
    font-size: 13px !important;
    color: #fff !important;
  }
  i {
    margin-right: 3px;
  }
  .caret {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
  }
  .nav-user-pic {
    width: 20px;
    margin-right: 10px;
  }

}

