
/* Dropdown menu */

.dropdown-menu {
  background: #fff;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  li {
    color: #777;
    font-size: 13px;
    line-height: 18px;
    > a {
      color: #555;
      line-height: 23px !important;
      &:hover {
        background: #f9f9f9 !important;
        filter: none;
        color: #888;
      }
    }
  }
  a {
    &:hover, &:focus {
      filter: none !important;
      background: #fff !important;
    }
  }
  &::after, &::before {
    border: none !important;
  }
}

/* Navbar */

.navbar {
  background: #000;
  .container {
    width: 97% !important;
  }
  .nav > li > a {
    font-size: 13px !important;
    color: #fff !important;
  }
  i {
    margin-right: 3px;
  }
  .caret {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
  }
  .nav-user-pic {
    width: 20px;
    margin-right: 10px;
  }

}

