<table class="table table-settings" id="colorOptionTable">
  <tr option="simple">
    <td>Background Color</td>
    <td> 
      <input type="color" id="ColorBackgroundColor" value=""  class="form-control" />
    </td>
  </tr>
  <tr id="option">
    <td width="30%">Coloring Method</td>
    <td>
      <select id="ColorColorMethod">
        <option value="simple">Simple</option>
        <option value="incoming">Incoming </option>
        <option value="outgoing">Outgoing </option>
        <option value="atomtype">By AtomType </option>
      </select>
    </td>
  </tr>
  <tr option="simple">
    <td>Color</td>
    <td> 
      <input  type="color" id="ColorSimpleColor" value=""  class="form-control" />
    </td>
  </tr>
  <tr option="simple">
    <td>Transparency</td>
    <td><div id="colorSimpleTransparency"></div></td>
  </tr>
<!-- 
  <tr option="incoming">
    <td>Range From:</td>
    <td> 
      <div class="input-group" id="ColorSimpleColor">
        <input type="text" value=""  class="form-control" />
        <span class="input-group-addon"><i></i></span>
      </div>
    </td>
  </tr>
  <tr option="incoming">
    <td>Range To:</td>
    <td> 
      <div class="input-group" id="ColorSimpleColor">
        <input type="text" value=""  class="form-control" />
        <span class="input-group-addon"><i></i></span>
      </div>
    </td>
  </tr>
  <tr option="atomtype">
    <td colspan=2><div id="colorsAtomTypeDiv">sdfsdf</div></td>

  </tr>
 -->
</table>