<table class="table table-settings">
	<tr>
		<td width="40%">Attentional Focus Only</td>
		<td><input type="checkbox" id="FilterAttentionalFocusOnly"></td>
	</tr>
	<tr>
		<td>STI Range <span id="FilterSTIRangeAmount"> </span></td>
		<td><div id="FilterSTIRange"></div></td>
	</tr>
	<tr>
		<td>TruthValue Strength</td>
		<td><input class="form-control input-sm" type="text" size="2" placeholder="" id="FilterTruthValueStrength"> </td>
	</tr>
	<tr>
		<td>TruthValue Confidence</td>
		<td><input class="form-control input-sm" type="text" size="2" placeholder="" id="FilterTruthValueConfidence"></td>
	</tr>
	<tr>
		<td>TruthValue Count</td>
		<td><input class="form-control input-sm" type="text" size="2" placeholder="" id="FilterTruthValueCount"> </td>
	</tr>
	<tr>
		<td>Atom Name</td>
		<td><input type="text" class="form-control input-sm" id="FilterAtomName"></td>
	</tr>
	<tr>
		<td>Atom Type</td>
		<td><select class="form-control input-sm" id="FilterAtomType">
			<option value="0" id="FilterAtomTypeNoneValue">--None--</option>
		</select></td>
	</tr>
	<tr>
		<td>Limit</td>
		<td><input type="text" class="form-control input-sm" id="FilterLimit"></td>
	</tr>
	<tr>
		<td>Incoming Sets</td>
		<td> <input type="checkbox" id="FilterIncomingSets"> </td>
	</tr>
	<tr>
		<td>Outcoming Sets</td>
		<td><input type="checkbox" id="FilterOutgoingSets"></td>
	</tr>
	<tr>
		<td colspan="2" align="right" >
			<button disabled="disabled" class="btn btn-info"  id="FilterRefreshButton">
				<i class="fa fa-plug"></i> Refresh
			</button>
		</td>
	</tr>
</table>