<div class="container-fluid">
  <div class="row" id="wrapper">

    <!-- LEFT MENU -->
    <div class="col-xs-3" id="leftMenu">
      <div id="leftMenuInner">

        <!-- CONNECT -->
        <accordion>
          <accordion-group>
            <accordion-heading><i class="fa fa-globe"></i> Connect</accordion-heading>
            <connect-view></connect-view>
          </accordion-group>
        </accordion>

        <!-- FILTER -->
        <accordion>
          <accordion-group>
            <accordion-heading><i class="fa fa-filter"></i> Filter</accordion-heading>
            <filter-view></filter-view>
          </accordion-group>
        </accordion>

        <!-- ADVANCED FILTER -->
<!--
        <accordion>
          <accordion-group>
            <accordion-heading><i class="fa fa-globe"></i> Advanced Filter</accordion-heading>
            <advanced-filter-view></advanced-filter-view>
          </accordion-group>
        </accordion>
-->
        <!-- APPEARANCE -->
        <accordion>
          <accordion-group>
            <accordion-heading><i class="fa fa-eye"></i> Appearance</accordion-heading>
            <appearance-view></appearance-view>
          </accordion-group>
        </accordion>

        <!-- COLORS -->
        <accordion>
          <accordion-group>
            <accordion-heading><i class="fa fa-paint-brush"></i> Colors</accordion-heading>
            <colors-view></colors-view>
          </accordion-group>
        </accordion>

        <!-- TEXT -->
        <accordion>
          <accordion-group>
            <accordion-heading><i class="fa fa-font"></i> Text</accordion-heading>
            <text-view></text-view>
          </accordion-group>
        </accordion>

        <!-- ANALYSE -->
<!--        
        <accordion>
          <accordion-group>
            <accordion-heading><i class="fa fa-bar-chart"></i> Analyse</accordion-heading>
            <analyze-view></analyze-view>
          </accordion-group>
        </accordion>   
-->
        <!-- SETTINGS -->
        <accordion>
          <accordion-group>
            <accordion-heading><i class="fa fa-cog"></i> Settings</accordion-heading>
            <settings-view></settings-view>
          </accordion-group>
        </accordion>    

      </div>

    </div><!-- !#leftMenu -->

    <!-- MAIN CONTENT -->
    <div class="col-sm-7" id="mainContent"> 
      <!-- MAIN SCREENS -->

      <div id="snapshotFlash">
      </div>

      <div id="screen-d3">
      </div>

      <div id="screen-3d">
      </div>

      <div id="screen-sigma">
      </div>

      <div id="screen-table">
      </div>

      <div id="screen-json">
      </div>

      <div id="screen-scheme">
      </div>

      <div id="screen-statistics">

      </div>

      <import-view ng-show="vm.showImport"></import-view>
      <export-view ng-show="vm.showExport"></export-view>
      <about-view ng-show="vm.showAbout"></about-view>
      <help-view ng-show="vm.showHelp"></help-view>

    </div><!-- !#mainContent -->

    <!-- RIGHT MENU -->
    <div class="col-sm-2" id="rightMenu">

      <!-- DETAILS -->
      <div class="accordion-group" >
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#detailsPanel">
            <i class="fa fa-globe"></i> <span id="detailsPanelTitle"> Details </span>
          </a>
        </div>
        <div id="detailsPanel" class="accordion-body collapse">
          <div class="accordion-inner">
            
            <!-- CONTENT -->
            <div id="detailsPanelNodeContent">
              <table class="table table-settings">
                <tr>
                  <td>Handle</td>
                  <td><input type="text" disabled="disabled" class="form-control atomDetailsForm input-sm" id="detailsAtomHandle" name="atomName"/> </td>
                </tr>
                <tr>
                  <td>Type</td>
                  <td>
                    <select class="form-control atomDetailsForm input-sm" id="detailsAtomType">
                      <option value="0" id="detailsAtomTypeNoneValue">--None--</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td><input type="text" class="form-control atomDetailsForm input-sm" id="detailsAtomName" name="atomName"/></td>
                </tr>
                <tr>
                  <td>LTI</td>
                  <td><input type="text" class="form-control atomDetailsForm input-sm" id="detailsAtomLTI" name="detailsAtomLTI"/> </td>
                </tr>
                <tr>
                  <td>STI</td>
                  <td><input type="text" class="form-control atomDetailsForm input-sm" id="detailsAtomSTI" name="detailsAtomSTI"/>  </td>
                </tr>
                <tr>
                  <td>VLTI</td>
                  <td><input type="text" class="form-control atomDetailsForm input-sm" id="detailsAtomVLTI" name="detailsAtomVLTI"/></td>
                </tr>
                <tr>
                  <td>Count</td>
                  <td><input type="text" class="form-control atomDetailsForm input-sm" name="detailsAtomCount" id="detailsAtomCount" /></td>
                </tr>
                <tr>
                  <td>Confidence</td>
                  <td><input type="text" class="form-control atomDetailsForm input-sm" name="detailsAtomConfidence" id="detailsAtomConfidence"/></td>
                </tr>
                <tr>
                  <td>Strength</td>
                  <td><input type="text" class="form-control atomDetailsForm input-sm" name="detailAtomStrength" id="detailsAtomStrength"/> </td>
                </tr>
                <tr>
                  <td>Fixed</td>
                  <td><div id="atomDetailsFixed"></div></td>
                </tr>
                <tr>
                  <td>VLTI</td>
                  <td><input type="text" class="form-control atomDetailsForm input-sm" id="detailsAtomVLTI" name="detailsAtomVLTI"/></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button disabled="disabled" id="atomDetailsUpdate" class="btn btn-md btn-success">Update</button> 
                    <button disabled="disabled" id="atomDetailsDelete" class="btn btn-md btn-danger">Delete</button>
                  </td>
                </tr>
              </table>
            </div>
            <div id="detailsPanelLinkContent">
            </div>
            <div id="detailsPanelMultipleContent">
            </div>
            <div id="detailsPanelContentNone">
              (Nothing is currently selected)
            </div>
            <!-- END CONTENT -->
          </div>
        </div>
      </div>
    </div><!-- !#rightMenu -->
  </div><!-- !#wrapper -->
</div>

<jquery-terminal ng-show="vm.showTerminal"></jquery-terminal>