<!-- the tabs themselves -->
<div>
  <tabset type="pills">
      <tab
        ng-repeat="tab in tVm.getTabs()"
        ui-sref="{{tab.state.name}}"
        active="tab.active">
        <tab-heading><i class="fa {{tab.state.data.faIcon}}"></i> {{tab.state.title}}
            <a ng-class="{'not-allowed': !tab.closeEnabled}" ng-click="$parent.tVm.closeTab($event, tab)" href>
            <i class="fa fa-times"></i></a>
        </tab-heading>
      </tab>
    </tabset>
</div>

<!--  tab content -->
<section class="matter">
    <div class="container shuffle-animation" data-ui-view>
    </div>

    <tab-view></tab-view>
</section>