<!-- the tabs themselves -->
<div>
  <tabset type="pills">
      <tab
        ng-repeat="tab in tVm.getTabs()"
        active="tab.active" data-ui-sref="{{tab.state.name}}">
        <tab-heading>{{tab.state.title}}
          <i class="fa {{tab.state.data.faIcon}}"></i>  <a ng-click="$parent.tVm.closeTab($event, tab)" href>
            <i class="fa fa-times"></i></a>
        </tab-heading>
      </tab>
    </tabset>
</div>

<!--  tab content -->
<section class="matter">
    <div class="container shuffle-animation" data-ui-view>
    </div>

    <!-- can't use ng-repeat here, as doing this recreate the views each time and we lose the view state
      so unfortunately, it seems that every module must be hard-coded here
    -->
    <div class="container shuffle-animation" ui-view="dashboard" ng-show="tVm.showTab('tab.dashboard')"></div>
    <div class="container shuffle-animation" ui-view="avengers" ng-show="tVm.showTab('tab.avengers')"></div>

</section>